
/*--------------------------------------------------*\
    Basic settings
\*--------------------------------------------------*/

* {box-sizing: border-box}

html {font-size: 14px;}

a {
  text-decoration: none;
  cursor: pointer;
}



/*--------------------------------------------------*\
    Basic tipographia
\*--------------------------------------------------*/


body {
  font-family:      'Montserrat', sans-serif;
  color:            #211138;
  background-color: #f4f3f5;
}

h2 { font-size: 2.857rem; }

h6,
a {
  font-size:      .857rem;
  font-weight:    bold;
  text-transform: uppercase;
  letter-spacing: .171rem;
}